
 
     
  
  
   <div class="col-sm-12 a8">

      <button class= "col-sm-12 a9" (click)="mostrar1=!mostrar1" (click)="mostrar2=true"  (click)="mostrar3=false" > crear concepto </button>
 
  
      <div *ngIf="mostrar1">
          <div class="col-sm-12 ">
              <div class="card">
                <div class="card-body">
                  <form>
                       <div class="form-group">
                         <input type="text" name="comentario" [(ngModel)]="concepto.concepto_desc" placeholder="descripcion" class="form-control"autofocus>
                       </div>
                       <button type="button" class="btn btn-success btn-block col-sm-6 a11 "  (click)="   saveNewConcepto()  "  (click)="   mostrar1=false  "  (click)="   mostrar2=false  " >Guardar</button>
                       <button type="button" class="btn btn-danger btn-block col-sm-6 "    (click)="   mostrar1=false  "   (click)="   mostrar2=false  " (click)="   mostrar3=false  ">Cerrar</button>

                      
                         
                    </form>
                </div>
              </div>
           </div>

      </div>
    

      <div *ngIf="!mostrar2">

      <div class="container">
          <h1>Listado Conceptos</h1>
          <div class="row">
            <div class="col">

            </div>
          </div>
          <div class="row">
            <div class="col">
              <table class="table table-striped a8">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>descripcion</th>
                    <th>acciones</th>
                    
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let concepto of Conceptos   | paginate: { itemsPerPage: 5, currentPage: p }">
                    <td>  {{concepto.id_concepto}}</td>
                    <td> {{concepto.concepto_desc}} </td>
                    <td>  
                        <button type="button" class="btn btn-primary"   (click)="viewModal(concepto)"  (click)="mostrar2=true"  (click)="mostrar1=false" (click)="mostrar3=true"   >
                            edit
                          </button>

                      <button class="btn btn-danger a6" (click)="deleteconcepto(concepto.id_concepto)">
                        <i class="far fa-trash-alt"></i>
                   </button>
                  
                  </td>                  
                  </tr>
                </tbody>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </table>
            </div>
          </div>
        </div>
        
</div>

<div *ngIf="mostrar3">
    <div class="card">
        <div class="card-body">
          <form>
               <div class="form-group">
                 <input type="text" name="comentario" [(ngModel)]="concepto.concepto_desc" placeholder="descripcion" class="form-control"autofocus>
               </div>
               <button type="button" class="btn btn-success btn-block col-sm-6 a11"  (click)="   updateConceptoo(concepto) "  (click)="   mostrar1=false  "  (click)="   mostrar2=false  "(click)="   mostrar3=false  " >Guardar</button>
               <button type="button" class="btn btn-danger btn-block col-sm-6 "    (click)="   mostrar1=false  "   (click)="   mostrar2=false  "  (click)="   mostrar3=false  ">Cerrar</button>

              
                 
            </form>
        </div>
      </div>
  </div>




</div>