<div class="container">
  <h1>Listado Cuentas</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterCuentas" placeholder="Search..." [(ngModel)]="filterCuentas">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>codigo</th>
            <th>descripcion</th>
            <th>nivel</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cuenta of Cuentas  | filtrocuenta:filterCuentas">
            <td>{{cuenta.CODIGO	}}</td>
            <td>{{cuenta.DESCRIPCION}}</td>
            <td>{{cuenta.NIVEL}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>