<div class="ng-autocomplete">
  <ng-autocomplete 
    [data]="this.Cuentas"
    [searchKeyword]="keyword"
    (selected)='selectEvent($event)'
    (inputChanged)='onChangeSearch($event)'
    (inputFocused)='onFocused($event)'
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">                                 
  </ng-autocomplete>
   
  <ng-template #itemTemplate let-item>
  <a [innerHTML]="item.CODIGO"></a>
  </ng-template>
   
  <ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
  </ng-template>
  </div>